* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #FFFDF2;
  font-family: tahoma, geneva, sans-serif;
  color: #443F57;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #FF6F61;
}

.navbar-user {
  display: flex;
  justify-content: flex-end;
}

.navbar-right {
  align-self: right;
}

.nav-item {
  padding: 10px;
  color: #F9F6E7;
  text-decoration: none;
}

form {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.form-item {
  padding: 10px;
  font-size: 14px;
}

.btn {
  padding: 0px 14px;
  color: #443F57;
  background-color: #FFD4C4;
}

.option {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.option-item {
  margin: 5px;
}

.form-group {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.column-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  margin: auto;
}
