form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 10px;
}

.form-item {
  padding: 10px;
  font-size: 32px;
}

.btn {
  padding: 0px 14px;
}

.option {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.option-item {
  margin: 5px;
}

.form-group {
  display: flex;
  justify-content: center;
}
