form {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.form-item {
  padding: 10px;
  font-size: 14px;
}

.btn {
  padding: 0px 14px;
}

h1 {
  margin: 10px;
}

.info {
  display: flex;
}

.txt {
  padding: 10px;
}

.description {
  color: #808080;
}
