h1 {
  margin: 10px 30px;
}

.info {
  display: flex;
}

.txt {
  padding: 10px 30px;
}

.description {
  color: #808080;
}

@media (min-width: 768px) {
  .all-content {
    width: 80%;
    margin: auto;
  }
}
