form {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.form-item {
  padding: 10px;
  font-size: 14px;
}

.btn {
  padding: 0px 14px;
}

.container {
  display: flex;
  flex-direction: column;
}

.recipe {
  display: flex;
}

.recipe-item {
  padding: 10px;
}
