form {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.form-item {
  padding: 10px;
  font-size: 14px;
}

.btn {
  padding: 0px 14px;
}

.container {
  display: flex;
  flex-direction: column;
}

.recipe {
  display: flex;
}

.recipe-item {
  padding: 10px 10px 2px 10px;
}

h1 {
  padding: 10px;
}

.text-2 {
  padding: 0px 10px 10px 10px;
  color: #B3B3B3;
}

.results-content {
  margin: 10px;
}

@media (min-width: 768px) {
  .results-content {
    width: 60%;
    margin: auto;
  }
}
