body {
  background-color: #9F5942;
  background-image: url("food-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: auto;
  color: #FFFDF2;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 10px;
  margin-top: 30vh;
}

.form-item {
  padding: 10px;
  font-size: 32px;
}

.form-group {
  font-size: 18px;
  margin: 3px;
}
