form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 10px;
}

.form-item {
  padding: 10px;
  font-size: 32px;
}

.form-group {
  font-size: 18px;
  margin: 3px;
}
