<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% endblock %}
</head>
<body>
  {% block nav %}
  <nav class="navbar">
    <a class="navbar-brand nav-item" href="/">Home</a>

    {% if username %}
      <a class="navbar-right nav-item" href="/favorites">Welcome, {{username}}</a>
    {% else %}
    <div class="navbar-user">
      <a class="navbar-right nav-item" href="/logout">Log out</a>
      <a class="navbar-right nav-item" href="/login">Log in</a>
      <a class="navbar-right nav-item" href="/signup">Sign Up</a>
    </div>
    {% endif %}
  </nav>
  {% endblock %}

  {% block search %}
  <div class="column-flex">
  <form action="/recipes/" method="GET">
    <div class="form-group">
      <input type="text" class="form-control form-item" id="ingredient" name="ingredient" placeholder="Ingredient">
    </div>
    <button type="submit" class="btn btn-primary form-item">Search</button>
  </form>
  <div class="center">Use a comma to separate multiple ingredients for search.</div>
  </div>
  {% endblock %}

  {% block content %}
  {% endblock %}

 </body>
</html>
