<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="./static/style.css">
<body>
  <nav class="navbar">
    <a class="navbar-brand nav-item" href="/">Home</a>

    {% if username %}
      <a class="navbar-right nav-item" href="/favorites">Welcome, {{username}}</a>
    {% else %}
    <div class="navbar-user">
      <a class="navbar-right nav-item" href="/login">Log in</a>
      <a class="navbar-right nav-item" href="/signup">Sign Up</a>
    </div>
    {% endif %}
  </nav>

  {% block content %}
  {% endblock %}

 </body>
</html>
