{% from 'field-macro.html' import displayField %}
{% extends "prelogin-layout.html" %}

{% block title %}Login {% endblock %}

{% block nav %}
    <nav class="navbar">
        <a class="navbar-brand nav-item" href="/">Home</a>
        
        {% if username %}
        <a class="navbar-right nav-item" href="/favorites">Welcome, {{username}}</a>
        {% else %}
        <div class="navbar-user">
            <a class="navbar-right nav-item" href="/signup">Sign Up</a>
        </div>
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <h4>Enter your username and password:</h4>
    <p>{{ message }}<p>

    <form action="{{ url_for('login') }}", method="POST">
        {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true) }}
        {{ displayField(form.password, 'Password') }}

        <div class="submit-btn">
            <input type="submit" value="Login" class="btn">
        </div>
        {{ form.csrf_token }}
    </form>

    <hr>

    <p>Have not registered? <a href={{url_for('index')}}>Register here</a>.</p>
{% endblock %}
