{% extends "base.html" %}
{% block head %}
{{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='style-recipe.css') }}">
{% endblock %}
  {% block search %}
  {% endblock %}

  {% block content %}
  {% if query %}
  <div class="all-content">
  <div class="txt"><a class="description" href="javascript: history.go(-1)">< Back to Search Results</a></div>
  <h1> {{query.name.title()}} </h1>
      <div class="info">
        <div class="info-item txt">
          {% if query.minutes/60 >= 1 %}
            {{"%.0f"|format(query.minutes/60)}}
          {% endif %}
          {% if query.minutes/60 >= 2 %} hours
          {% elif query.minutes/60 >= 1 %} hour
          {% endif %}
          {% if query.minutes%60 > 0 %}
            {{query.minutes%60}} minutes
          {% endif %}
        </div>
        <div class="info-item txt">
            {{query.n_steps}} steps
        </div>
      </div>
      <div class="description txt">
          {{"%s"|format(query.description)}}
      </div>
      <div class="ingredients txt">
        {% for s in "%s"|format(query.ingredients)|parseList %}
        <div class="ingredient">
        {{s}}
        </div>
        {% endfor %}
      </div>
      <div class="instructions txt">
        {% for s in "%s"|format(query.steps)|parseList %}
        <div class="instruction">
        {{loop.index}}. {{s}}
        </div>
        {% endfor %}
      </div>
  </div>
  {% else %}
  <p>No results found. Please check your spelling or try a different ingredient.</p>
  {% endif %}
  {% endblock %}
