<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <title>{% block title %}{% endblock %}</title>

        {% block head %}
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Custom css for prelogin pages -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style-login.css') }}">
        {% endblock %}
    </head>

    <body>
        {% block nav %}
        {% endblock %}
        <div class="jumbotron">
          <h1 class="display-4">My Ingredients</h1>
        </div>
        <!-- Main section start -->
        <div class="main-section">
            <!-- Righthand side start -->
            <div id="righthand-side">

                <!-- Flash error messages start -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    <!-- The messages, if any, are returned as a list. And not all redenring of the pages will have a message. So we put a condition to check whether the messages list is empty -->
                    {% if messages %}
                        <!-- We will set the class form our custom css file we had created earlier. And we want to see the first item in the list. -->
                        <div class="alert alert-{{ messages[0][0] }} " role="alert">
                            {{ messages[0][1] }}
                        </div>
                        <hr>
                    {% endif %}
                {% endwith %}
                <!-- Flask error messages end -->

                {% block content%}
                {% endblock %}

            </div>
            <!-- Righthand side end -->
        </div>
        <!-- Main section end -->

    </body>
</html>
