<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style-login.css') }}">
        {% endblock %}
    </head>

    <body>
        {% block nav %}
        <nav class="navbar">
            <a class="navbar-brand nav-item" href="/">Home</a>
            
            {% if username %}
            <a class="navbar-right nav-item" href="/favorites">Welcome, {{username}}</a>
            {% else %}
            <div class="navbar-user">
                <a class="navbar-right nav-item" href="/login">Log in</a>
                <a class="navbar-right nav-item" href="/signup">Sign Up</a>
            </div>
            {% endif %}
        </nav>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </body>
</html>
